<phpunit
	bootstrap="bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Main">
			<directory prefix="test-" suffix=".php">wp-content/plugins/mz-mindbody-api</directory>
			<exclude>wp-content/plugins/mz-mindbody-api/tests/test-sample.php</exclude>
		</testsuite>
		<testsuite name="Access">
			<directory prefix="test-" suffix=".php">wp-content/plugins/mindbody-access-management</directory>
			<exclude>wp-content/plugins/mindbody-access-management/tests/test-sample.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
